/* mobile & tablet */
@media (max-width: 1023px){
    .contact__container{
        margin-top: 40px;
        flex-direction: column;
        row-gap: 32px;
    }
   
}
.contact__form-btn{
    margin-left: auto;
}

/* Tablet - PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px){
    .skill__content{
        width: 40%;
    }
}
/* tablet */
@media (min-width:740px) and (max-width:1023px){
  
    .about__image {
        width: 400px;
    }
    .skill__content{
        width: 80%;
    }
    .work__mix{
        grid-template-columns:40% 40%;
    }
    .contact__box{
        grid-template-columns: 220px 220px ;
        column-gap: 20px;
        justify-content: center;
    }
    .contact__form-div{

        width: 100%;
        margin:0 auto;
        
    }
  
    .nav__item-link{
        font-size: 16px;
    }
}

/* mobile */
@media (max-width:739px){
    .nav__menu{
        width: 80%;
    }
    .section__title{
        font-size: 30px;
    }
    .section__subtitle{
        font-size: 16px;
    }
    .section__btn-group{
        flex-direction: column;
        row-gap: 20px;
    }
    .home_handle-img{
        width: 100px;
    }
    .home_handle_list{
        bottom: 1rem;
    }
    .home_handle_scroll_down{
        bottom: 1rem;
    }
    .about_container {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        margin-top: 40px;
    }
    .about__image-img{
        width: 200px;
    }
    
    .about__info {
        width:100%;
    }
    .about-box{
        flex-direction: column;
        row-gap: 24px;
    }
    .about__description{
        margin: 40px auto 0;
    }
    .about__contact{
        margin-left: 50%;
        transform: translateX(-50%);
        padding: 12px;
    }
    .skills_container{
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    .skills_container{
        margin-top: 40px;
        row-gap: 12px;
    }
    .skill__content{
        width: 100%;
        padding: 24px 8px;
    }
    .skill__title{
        font-size: 20px;
    }
    .skill_card i{
        font-size: 16px;
    }
    .skill_object{
        font-size: 16px;
    }
    .services__container{
        margin-top: 40px;
        flex-direction: column;
        row-gap: 20px;
    }
    .work__container{
        margin-top: 40px;
    }
    .work__filter{
        margin-bottom: 30px;
    }
    .work__filter-item{
        padding: 4px 12px;
        font-size: 13px;
    }
    .work__mix{
        grid-template-columns: max-content;
    }
    .work__img{
        width: 200px;
    }
    .testimonial__container{
        margin-top: 40px;
    }
  
    .contact__box{
        justify-content: center;
    }
    .button-form{
        font-size: 16px;
        padding:12px;
    }
}