/* mobile & tablet */
@media (max-width: 1023px){
 
   
}


/* Tablet - PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px){
   
}
/* tablet */
@media (min-width:740px) and (max-width:1023px){
    
    
}

/* mobile */
@media (max-width:739px){
    #toast{
        right: 12px;
        
    }
    .toast {
        width: 350px;
    }
    .section__title {
        font-size: 32px;
    }
    .container_weather {
        max-width: 80%;
    }
    .search-box input {
        font-size: 20px;
    }
    .btn-up {
        bottom: 8px;
        right: -32px;
    }
    .section__body {
        max-width: 90%;
        padding: 20px;
    }
    .section__body__environment {
      display: grid;
      grid-template-columns: 100%;
    }
    .section__body__environment-item {
        width: auto;
        margin-bottom: 16px;
    }
    .section__body__device {
        grid-template-columns: 80%;
        justify-content: center;
    }
    .otherDevice_list_item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        font-size: 20px;
        margin: 0 4px 0;
        padding: 4px 16px 4px;

    }
    .otherDevice__mix {
       display: grid;
       grid-template-columns: 50% 50%;
    }
    .otherDevice_cart {
        width: 96%;
        margin: 0 4px 8px;
    }
    .otherDevice_item_icon {
        font-size: 42px;
    }
    .otherDevice_item_title {
        font-size: 20px;
    } 
    .not_found p {
        font-size: 24px;
    }
    .btn_add_device,
    .btn_remove_device {
        font-size: 24px;
        top: 12px;
        right: 12px;
    }
    .weather_box {
        top: 150px
    }
    .weather_detail .humidity i,
    .weather_detail .wind i {
        font-size: 32px;
    }
    
}